* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 1050px;
  margin: 0 auto;
  /*  border: solid red;*/
}

.row:after {
  content: '';
  clear: both;
  display: block;
}

.top-bar {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  border-bottom: 2px solid #666;
}

.logo-bar {
  line-height: 50px;
}

.logo-bar span:nth-child(2) {
  color: #28cfb5;
  font-weight: 700;
}

.logo-bar > nav {
  float: right;
}

.logo-bar > nav > ul > li {
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
}

.slider-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+65,cdccd1+100&1+0,0.75+100 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.84) 65%, rgba(205, 204, 209, 0.75) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.84) 65%, rgba(205, 204, 209, 0.75) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.84) 65%, rgba(205, 204, 209, 0.75) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfcdccd1', GradientType=0);
  /* IE6-9 */
}

.slider-image {
  position: relative;
  float: left;
  width: 40%;
  height: 500px;
  border-bottom: solid #666;
}

.slider-image img {
  position: absolute;
  top: 130px;
  left: 0;
}

.slider-image a {
  position: absolute;
  color: #28cfb5;
  text-decoration: none;
  font-size: 60px;
  left: 10px;
  top: 210px;
}

.slider-text {
  position: relative;
  float: left;
  width: 60%;
  height: 500px;
  border-bottom: solid #666;
  padding: 150px 0 0 0;
}

.slider-text span {
  color: #28cfb5;
}

.slider-text h1 {
  font-size: 40px;
  padding-left: 70px;
}

.slider-text p {
  font-size: 20px;
  overflow: hidden;
  text-align: center;
  padding: 30px 130px 0 40px;
}

.slider-text [type="button"] {
  background-color: #28cfb5;
  color: white;
  font-size: 25px;
  padding: 15px 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 140px;
  margin-top: 30px;
}

.slider-text a {
  position: absolute;
  color: #28cfb5;
  text-decoration: none;
  font-size: 60px;
  right: 10px;
  top: 210px;
}

.boxes {
  margin-top: 18px;
  margin-left: 18px;
}

.box-1-3 {
  width: 33.333%;
  margin-bottom: 18px;
  float: left;
}

.image {
  float: left;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 215px;
}

.box1 {
  background-image: url("../images/box1_img.jpg");
}

.box2 {
  background-image: url("../images/box2_img.jpg");
}

.ribbonText {
  position: relative;
  top: 60%;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  line-height: 50px;
  padding-left: 10px;

}

.ribbonText::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 10px;
  height: 7px;
  width: 210px;
  background-color: #28cfb5;
}

.ribbonText-2 {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 0 0 20px;
  font-weight: 200;

}

.ribbonText-2 p {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: 400;
}

.ribbonText-2::after {
  content: '';
  position: absolute;
  top: 30px;
  left: 20px;
  height: 7px;
  width: 210px;
  background-color: #28cfb5;
}

.prices {
  background-color: rgba(105, 105, 105, 0.07);
  padding-bottom: 60px;
}

.pricesText {
  position: relative;
  font-size: 24px;
  margin: 70px 0 70px 28px;
  padding-top: 30px;
}

.pricesText::after {
  position: absolute;
  content: '';
  height: 7px;
  width: 300px;
  background-color: #28cfb5;
}

.priceTags {
  float: left;
  position: relative;
  margin-left: 30px;
  border: solid rgba(102, 102, 102, 0.18);
  height: 500px;
  width: 310px;
  background-color: rgba(255, 255, 255, 0.84);
  border-radius: 2px;
}

.standardTag {
  background-color: #28cfb5;
  border: solid #28cfb5;
}

.priceTags::before {
  content: '';
  position: absolute;
  top: -38px;
  left: 122px;
  width: 50px;
  height: 50px;
  border: solid rgba(102, 102, 102, 0.18);
  border-radius: 50%;
  background-color: white;
}

.priceTags::after {
  content: '';
  position: absolute;
  top: -24px;
  left: 136px;
  width: 22px;
  height: 22px;
  border: solid #d3d3d3;
  border-radius: 50%;
  background-color: #d3d3d3;
}

.omfg::before {
  content: '';
  position: absolute;
  top: -38px;
  left: 122px;
  width: 50px;
  height: 50px;
  border: solid #28cfb5;
  border-radius: 50%;
  background-color: #28cfb5;
}

.omfg::after {
  content: '';
  position: absolute;
  top: -24px;
  left: 136px;
  width: 22px;
  height: 22px;
  border: solid white;
  border-radius: 50%;
  background-color: white;
}

.basic {
  font-size: 20px;
  color: #28cfb5;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}

.standardPlan {
  color: white;
}

.tagCircle-grey {
  color: rgba(0, 0, 0, 0.33);
  text-align: center;
  margin-top: 35px;
  position: relative;
}

.standardTag-price {
  color: #28cfb5;
  text-align: center;
  margin-top: 35px;
  position: relative;
}

.standardTag-price::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  border: solid #28cfb5;
  border-radius: 50%;
  top: -25px;
  right: 91px;
  background-color: white;
}

.standardTag-price .price {
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 112px;
}

.standardTag-price .pln-msc {
  position: absolute;
  z-index: 1;
  top: 48px;
  left: 118px;
}


.tagCircle-grey::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  border: solid rgba(0, 0, 0, 0.33);
  border-radius: 50%;
  top: -25px;
  right: 91px;
}

.price {
  font-size: 32px;
  font-weight: 700;
}

.pln-msc {
  font-size: 14px;
}

.planItem {
  list-style-type: none;
  background-color: rgba(102, 102, 102, 0.18);
  line-height: 38px;
  font-size: 18px;
  text-align: center;
  color: #6f6c6c;
}

.middleItem {
  background-color: white;
}

.planItem:nth-child(2n) {
  background-color: rgba(105, 105, 105, 0.07);
}

.middleItem:nth-child(2n){
  background-color: #e8e8e8;
}

.included {
  margin-top: 70px;
}

.middlelist {
  margin-top: 112px;
}

.pricetag-button {
  position: absolute;
  bottom: 20px;
  left: 85px;
  border: solid #28cfb5;
  border-radius: 5px;
  line-height: 40px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #28cfb5;
  color: white;
}

.middleButt {
  background-color: white;
  color: #28cfb5;
  border: solid white;
  
}

.contactText {
  position: relative;
  font-size: 24px;
  margin: 36px 0 45px 28px;
  padding-top: 30px;
}

.contactText::after {
  position: absolute;
  content: '';
  left: 0;
  top: 60px;
  height: 7px;
  width: 300px;
  background-color: #28cfb5;
}

.form-field {
  float: left;
  
}

.contact-form {
  width: 600px;
  margin-left: 28px;
  margin-right: 28px;
  float: left;
  
}

[type="text"], [type="email"], [type="submit"], textarea {
  display: block;
}

[type="text"], [type="email"], textarea {
  padding: 12px 10px;
  font-size: 20px;
  width: 550px;
  margin-bottom: 15px;
  border: 0.5px solid #28cfb5;
  border-radius: 2px;
  
}

textarea {
  resize: none;
  height: 150px;
}

::-webkit-input-placeholder { /* Chrome */
  color: lightgrey;;
}
:-ms-input-placeholder { /* IE 10+ */
  color: lightgrey;;
}
::-moz-placeholder { /* Firefox 19+ */
  color: redlightgrey;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: redlightgrey;
  opacity: 1;
}

[type="submit"] {
  height: 55px;
  width: 300px;
  font-size: 26px;
  background-color: #28cfb5;
  color: white;
  border: solid #28cfb5;
  border-radius: 5px;
  margin-top: 30px;
}

.send-field {
  position: relative;
  float: left;
  width: 370px;
}

.send-field>img {
  height: 170px;
  position: absolute;
  top: -40px;
  right: 100px;
}

.send-field>form {
  margin-top: 157px;
}

.send-field>form span {
  color: lightgray;
}

.thisCheckbox {
  -webkit-appearance: none;
	background-color: #fafafa;
	border: 0.5px solid #28cfb5;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
  height: 30px;
  width: 30px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.thisCheckbox:active, .thisCheckbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.thisCheckbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.thisCheckbox:checked:after {
	content: '\2714';
	font-size: 24px;
	position: absolute;
	top: 0px;
	left: 5px;
	color: #28cfb5;
}

.copyright {
  float: left;
}

.media, .sitonchairFooter {
  float: right;
}

.plsWork {
  margin-top: 100px;
  padding: 10px;
  line-height: 42px;
  color: lightgrey;
}

.icon {
  height: 30px;
  width: 30px;
  background-size: contain;
  margin: 0 4px;
  display: inline-block;
}

.flickr {
  background-image: url("../images/flickr.png");
}

.vimeo {
  background-image: url("../images/vimeo.png");
}

.pinterest {
  background-image: url("../images/pinterest.png");
}

.twitter {
  background-image: url("../images/twitter.png");
}

.sitonchairFooter {
  margin-left: 50px;
}

.sitonchairFooter span:nth-child(2){
  font-weight: 700;
}

















